h2 {
  background-color: rgb(193,225,199);
  font-family: Garamond, serif;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 50%;
  font-size: 70px;
}
.week01 {
  background-color: rgb(193,225,199);
  font-family: Garamond, serif;
  position: absolute;
  top: 700px;
  left: 10%;
  width: 50%;
  font-size: 30px;
}
.week02 {
  background-color: rgb(193,225,199);
  font-family: Garamond, serif;
  position: absolute;
  top: 900px;
  left: 40%;
  width: 60%;
  font-size: 40px;
}
.week04 {
  background-color: rgb(193,225,199);
  font-family: Garamond, serif;
  position: absolute;
  top: 600px;
  left: 70%;
  width: 30%;
  font-size: 45px;
}
/* https://stackoverflow.com/questions/5758642/how-to-put-text-over-images-in-html/5758701 */
.LiquorStore.jpg {
  position: relative;
  width: 100%;
}

.Presentation {
  background-color: rgb(193,225,199);
  font-family: Garamond, serif;
  position: absolute;
  top: 625px;
  left: 25%;
  width: 40%;
  font-size: 20px;
}
