p {
  color: rgb(173,200,217);
}

audio{
  display: none
}

img{
  display: none
}

span:hover + img{
  display: block;
  position:absolute;
  Left: 0px; top:0px;
  border-style: solid;
  border-color: rgb(242,76,39);
  border-width: 20px
}

span:hover + audio{
  display: block;
  position:absolute;
  Left: 0px; top:0px;
  border-style: solid;
  border-color: rgb(242,76,39);
  border-width: 20px
}

if 
